NET PIO28 LOC = A2  |  IOSTANDARD=LVCMOS33;
NET PIO27 LOC = B3  |  IOSTANDARD=LVCMOS33;
NET PIO26 LOC = A3  |  IOSTANDARD=LVCMOS33;
NET PIO23 LOC = C13  |  IOSTANDARD=LVCMOS33;
NET PIO22 LOC = D13  |  IOSTANDARD=LVCMOS33;
NET PIO21 LOC = D14  |  IOSTANDARD=LVCMOS33;
NET PIO20 LOC = E13  |  IOSTANDARD=LVCMOS33;
NET PIO19 LOC = E14  |  IOSTANDARD=LVCMOS33;
NET PIO18 LOC = G13  |  IOSTANDARD=LVCMOS33;
NET PIO17 LOC = G14  |  IOSTANDARD=LVCMOS33;
NET PIO16 LOC = F13  |  IOSTANDARD=LVCMOS33;
NET PIO15 LOC = F14  |  IOSTANDARD=LVCMOS33;
NET PIO14 LOC = H13  |  IOSTANDARD=LVCMOS33;
NET PIO13 LOC = H14  |  IOSTANDARD=LVCMOS33;
NET PIO12 LOC = J13  |  IOSTANDARD=LVCMOS33;
NET PIO11 LOC = J14  |  IOSTANDARD=LVCMOS33;
NET PIO10 LOC = K13  |  IOSTANDARD=LVCMOS33;
NET PIO09 LOC = K14  |  IOSTANDARD=LVCMOS33;
NET PIO08 LOC = L13  |  IOSTANDARD=LVCMOS33;
NET PIO07 LOC = L14  |  IOSTANDARD=LVCMOS33;
NET PIO06 LOC = N12  |  IOSTANDARD=LVCMOS33;
NET PIO05 LOC = P12  |  IOSTANDARD=LVCMOS33;
NET BTN1 LOC = P9  |  IOSTANDARD=LVCMOS33;
NET BTN0 LOC = P8  |  IOSTANDARD=LVCMOS33;
NET PIO04 LOC = P7  |  IOSTANDARD=LVCMOS33;
NET PIO03 LOC = N6  |  IOSTANDARD=LVCMOS33;
NET PIO02 LOC = N5  |  IOSTANDARD=LVCMOS33;
NET PIO01 LOC = P5  |  IOSTANDARD=LVCMOS33;
NET LD2 LOC = N4  |  IOSTANDARD=LVCMOS33;
NET LD3 LOC = P4  |  IOSTANDARD=LVCMOS33;
NET LD0 LOC = N3  |  IOSTANDARD=LVCMOS33;
NET LD1 LOC = P3  |  IOSTANDARD=LVCMOS33;
NET PIO48 LOC = M2  |  IOSTANDARD=LVCMOS33;
NET PIO47 LOC = M1  |  IOSTANDARD=LVCMOS33;
NET PIO46 LOC = L2  |  IOSTANDARD=LVCMOS33;
NET PIO45 LOC = L1  |  IOSTANDARD=LVCMOS33;
NET PIO44 LOC = K2  |  IOSTANDARD=LVCMOS33;
NET PIO43 LOC = K1  |  IOSTANDARD=LVCMOS33;
NET PIO42 LOC = J2  |  IOSTANDARD=LVCMOS33;
NET PIO41 LOC = J1  |  IOSTANDARD=LVCMOS33;
NET PIO40 LOC = G2  |  IOSTANDARD=LVCMOS33;
NET PIO39 LOC = G1  |  IOSTANDARD=LVCMOS33;
NET PIO38 LOC = H2  |  IOSTANDARD=LVCMOS33;
NET PIO37 LOC = H1  |  IOSTANDARD=LVCMOS33;
NET PIO36 LOC = F2  |  IOSTANDARD=LVCMOS33;
NET PIO35 LOC = F1  |  IOSTANDARD=LVCMOS33;
NET PIO34 LOC = E2  |  IOSTANDARD=LVCMOS33;
NET PIO33 LOC = E1  |  IOSTANDARD=LVCMOS33;
NET PIO32 LOC = D2  |  IOSTANDARD=LVCMOS33;
NET PIO31 LOC = D1  |  IOSTANDARD=LVCMOS33;
NET PIO30 LOC = C1  |  IOSTANDARD=LVCMOS33;
NET PIO29 LOC = B1  |  IOSTANDARD=LVCMOS33;
NET CLK LOC = N8  |  IOSTANDARD=LVCMOS33;